# misc
.DS_Store

# for IDE
.vscode/.browse.VC*

# for npm
npm-debug.log
node_modules/

# for grunt
docs/
typings/
lib/**/*.js
lib/**/*.js.map
lib/**/*.d.ts
test/**/*.js
test/**/*.js.map
test/**/*.d.ts
